.activated1{
    transform: translate(0, 13px) rotate(-45deg);
    transition: 0.2s linear;
    margin: 0;
}

.activated2{
    transform: scale(0 , 0);
    opacity: 0;
    transition: 0.2s linear;
}

.activated3{
    transform: translate(0, -19px) rotate(45deg);
    transition: 0.2s linear;
}

@media screen and (max-width:550px){
    .activated1{
        transform: translate(0, 14px) rotate(-45deg);
        transition: 0.2s linear;
        margin: 0;
    }
    
    .activated3{
        transform: translate(0, -14px) rotate(45deg);
        transition: 0.2s linear;
    }
}

.burger-menu__nav{
    z-index: 2;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
    .burger-menu__item{
        margin-top: 19px;
        .burger-menu__link{
            font-size: 20px;
            color: black;
        }
    }
    .burger-menu__item:first-child{
        margin-top: 40px;
    }
    .burger-menu__link_button{
        background-color: #201F4A;
        padding: 10px 30px;
        color: white !important;
        border-radius: 30px;
    }
}

.burger-menu__nav{
    text-align: center;
}
