* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.activated1 {
  transform: translate(0, 13px) rotate(-45deg);
  transition: 0.2s linear;
  margin: 0;
}

.activated2 {
  transform: scale(0, 0);
  opacity: 0;
  transition: 0.2s linear;
}

.activated3 {
  transform: translate(0, -19px) rotate(45deg);
  transition: 0.2s linear;
}

@media screen and (max-width: 550px) {
  .activated1 {
    transform: translate(0, 14px) rotate(-45deg);
    transition: 0.2s linear;
    margin: 0;
  }
  .activated3 {
    transform: translate(0, -14px) rotate(45deg);
    transition: 0.2s linear;
  }
}
.burger-menu__nav {
  z-index: 2;
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
.burger-menu__nav .burger-menu__item {
  margin-top: 19px;
}
.burger-menu__nav .burger-menu__item .burger-menu__link {
  font-size: 20px;
  color: black;
}
.burger-menu__nav .burger-menu__item:first-child {
  margin-top: 40px;
}
.burger-menu__nav .burger-menu__link_button {
  background-color: #201F4A;
  padding: 10px 30px;
  color: white !important;
  border-radius: 30px;
}

.burger-menu__nav {
  text-align: center;
}

* {
  font-family: "Comfortaa", sans-serif;
}

.dnone {
  display: none;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.wrapper {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 1440px) 1fr;
  margin: 0 30px;
}

body {
  background-color: #F8F7F7;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__wrapper {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 420px) minmax(auto, 720px) 1fr;
  align-items: center;
  margin: 0 30px;
}
.header__title {
  grid-column-start: 2;
}
.header__navigation ul {
  display: flex;
}
.header__navigation ul li a {
  font-size: 24px;
  color: black;
  font-weight: 400;
  transition: all 0.5s;
  padding: 10px;
}
.header__navigation ul li a:hover {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #e6e6e6;
}
.header__registration {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.header__registration .regisration__link-border {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #e6e6e6;
}
.header__registration .regisration__link-border:hover {
  background-color: #454647;
  color: #e1e3e6;
}
.header__registration a {
  margin-left: 20px;
  font-size: 24px;
  color: black;
  font-weight: 400;
  transition: all 0.5s;
  padding: 10px;
}
.header__registration a:first-child {
  margin-left: 0px;
}
.header__registration a:hover {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #e6e6e6;
}
.header__logo {
  max-width: 60px;
}
.header__burger {
  z-index: 3;
  display: none;
}
.header__burger span {
  background-color: black;
  width: 30px;
  height: 2px;
  margin-top: 0;
  transition: 0.4s linear;
}
.header__burger .burger__span {
  margin-top: 10px;
}

@media screen and (max-width: 1244px) {
  .header__id {
    display: none !important;
  }
  .header__navigation {
    display: none;
  }
  .header__registration {
    display: none;
  }
  .header__burger {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    grid-column-start: 4;
  }
}
.welcome__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-image: url(../images/travel-wallpaper.jpg);
  background-size: cover;
}
.welcome__border-box {
  padding: 60px;
}
.welcome__border-box h1 {
  font-size: 100px;
  text-align: center;
  margin-bottom: 90px;
}
.welcome__border-box a {
  color: #000;
  font-size: 32px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  transition: all 0.5s;
}
.welcome__border-box a:hover {
  background-color: #454647;
  color: #e1e3e6;
}
.welcome__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 50px;
}

.tourses {
  margin-top: 40px;
}
.tourses__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}
.tourses__list {
  grid-column-start: 2;
}
.tourses__list .list__item {
  border: 2px rgb(187, 187, 187) solid;
  border-radius: 15px;
  margin-bottom: 30px;
}
.tourses__list .list__item .item__detail {
  margin-top: 20px;
}
.tourses__list .list__item .item__phone {
  margin-top: 20px;
}
.tourses__list .list__item .item-column {
  padding: 30px;
}
.tourses__list .list__item .item-column .item__headding {
  color: #201F4A;
  font-size: 28px;
  font-weight: 600;
}
.tourses__list .list__item .item-column .item__mini-info {
  font-weight: 100;
  margin-top: 10px;
}
.tourses__list .list__item .item-column .item__detail {
  color: #000;
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  transition: all 0.5s;
}
.tourses__list .list__item .item-column .item__detail:hover {
  background-color: #454647;
  color: #e1e3e6;
}
.tourses__list .list__item .item-column .item__phone {
  font-size: 16px;
  color: black;
  font-weight: 400;
  transition: all 0.5s;
  padding: 10px;
}
.tourses__list .list__item .item-column .item__phone:hover {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #e6e6e6;
}
.tourses .box-for-button {
  display: flex;
  flex-direction: row;
}
.tourses__add {
  grid-column-start: 2;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.tourses__add a {
  max-width: 550px;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  transition: all 0.5s;
}
.tourses__add a:hover {
  background-color: #454647;
  color: #e1e3e6;
}

.all-info-tours {
  margin-top: 80px;
}
.all-info-tours .tourses__box {
  grid-column-start: 2;
  color: #201F4A;
}
.all-info-tours .tourses__box .tours__headding {
  font-size: 35px;
  font-weight: 600;
}
.all-info-tours .tourses__box .tours__mini-info {
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
}
.all-info-tours .tourses__box .tours__main-text {
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
}

.our-posibility {
  padding: 30px 0;
  margin-top: 50px;
}
.our-posibility__headding {
  grid-column-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}
.our-posibility__down-side {
  margin-top: 30px;
  display: grid;
  grid-template: repeat(auto-fill, minmax(auto, 600px))/repeat(auto-fill, minmax(auto, 711px));
  grid-gap: 18px;
  grid-column-start: 2;
  justify-content: center;
}
.our-posibility__down-side .down-side__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.our-posibility__down-side .down-side__box img {
  width: 90%;
  height: 90%;
}
.our-posibility__down-side .down-side__box p {
  font-size: 50px;
  text-align: center;
}

.footer {
  padding: 20px 0;
}
.footer p {
  color: #000;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

.header__id {
  display: flex;
  justify-content: flex-end;
}
.header__id .header__logout {
  font-size: 24px;
  color: black;
  font-weight: 400;
  transition: all 0.5s;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #e6e6e6;
}
.header__id .header__logout:hover {
  background-color: #454647;
  color: #e1e3e6;
}
.header__id .header__user {
  font-size: 24px;
  color: black;
  font-weight: 400;
  transition: all 0.5s;
  padding: 10px;
}

.tourses-agenstvo {
  margin-top: 25px;
}
.tourses-agenstvo .alert {
  display: flex;
  max-width: 1440px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 10px;
}
.tourses-agenstvo .tourses-agenstvo__add {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

.helptext {
  display: none;
}

.form__wrapper {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  flex-direction: column;
}
.form__wrapper h1 {
  font-size: 26px;
  font-weight: 600;
}
.form__wrapper form {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  margin: 0 auto;
}
.form__wrapper form button {
  margin-top: 10px;
  color: #000;
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  transition: all 0.5s;
}
.form__wrapper form button:hover {
  background-color: #454647;
  color: #e1e3e6;
}
.form__wrapper form label {
  margin-top: 10px;
  font-size: 16px;
}
.form__wrapper form input {
  padding: 12px;
  margin-top: 15px;
}

textarea {
  margin-top: 15px;
  padding: 12px;
}

.tourses-agenstvo__add {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tourses__search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.tourses__search .search__input {
  min-width: 600px;
  padding: 14px;
}
.tourses__search .search__label {
  display: none;
}
.tourses__search .search__button {
  padding: 14px 14px;
}

@media screen and (min-width: 1024px) {
  footer p {
    font-size: 23px;
  }
}
@media screen and (max-width: 800px) {
  .item__headding {
    font-size: 20px !important;
  }
  .search__input {
    min-width: 300px !important;
  }
  .form__wrapper form {
    min-width: 350px;
  }
  .tourses__add a {
    font-size: 20px;
  }
  .our-posibility {
    margin-top: 60px;
  }
  .welcome {
    margin-top: 40px;
  }
  .main {
    margin-top: 20px;
  }
  .welcome__border-box h1 {
    font-size: 48px;
  }
  .our-posibility__headding p {
    font-size: 48px;
  }
  .welcome__border-box a {
    font-size: 25px;
  }
  .our-posibility__down-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-posibility__down-side .down-side__box {
    margin-top: 10px;
  }
  .our-posibility__down-side .down-side__box img {
    width: 300px;
    height: 200px;
  }
  .our-posibility__down-side .down-side__box p {
    font-size: 22px !important;
  }
  .welcome__border-box {
    padding: 60px;
  }
  .welcome__title {
    margin-bottom: 50px !important;
  }
}
@media screen and (max-width: 550px) {
  .search__input {
    min-width: 200px !important;
  }
  .form__wrapper form {
    min-width: 300px;
  }
  .form__wrapper form button {
    margin-top: 30px;
  }
  .form__wrapper form label {
    margin-top: 8px;
    font-size: 12px;
  }
  .form__wrapper form input {
    padding: 12px;
    margin-top: 12px;
  }
  .form__wrapper h1 {
    font-size: 19px;
    font-weight: 600;
  }
  .tourses__add a {
    font-size: 13px;
  }
  .item__phone {
    padding: 10px 35px !important;
  }
  .item-column {
    padding: 20px !important;
  }
  .box-for-button {
    flex-direction: column !important;
  }
  .item__phone {
    margin-left: 0 !important;
  }
  .logo {
    width: 200px;
  }
  .header__burger span {
    width: 30px;
    height: 2px;
  }
  .welcome__border-box {
    padding: 40px;
    border-radius: 60px;
  }
  .welcome__title {
    margin-bottom: 30px !important;
    font-size: 38px !important;
  }
  .welcome__button {
    font-size: 18px !important;
    padding: 5px 40px !important;
  }
  .our-posibility__title {
    font-size: 38px !important;
  }
  .welcome {
    margin-top: 30px;
  }
}
@media screen and (max-width: 400px) {
  .search__input {
    min-width: 100% !important;
  }
  .item-column {
    padding: 15px !important;
  }
  .burger-menu__link {
    font-size: 15px !important;
  }
  .burger-menu__item:first-child {
    margin-top: 30px !important;
  }
  .our-posibility__title {
    font-size: 30px !important;
  }
  .down-side__box {
    margin-top: 10px;
  }
  .down-side__box img {
    width: 230px !important;
    height: 140px !important;
  }
  .our-posibility {
    margin-top: 30px;
  }
  .welcome__border-box {
    padding: 20px;
    border-radius: 40px;
  }
  .welcome__title {
    font-size: 27px !important;
  }
  .welcome__button {
    padding: 5px 30px !important;
  }
  .our-posibility__down-side {
    margin-top: 15px;
  }
  .logo {
    width: 180px;
  }
  .header__burger span {
    width: 30px;
    height: 2px;
  }
}/*# sourceMappingURL=style.css.map */